.vscode/*
!.vscode/launch.json
.DS_Store
.idea/

flakeguard.log
flakeguard.log.*
flakeguard
!flakeguard/
flakeguard-output/
flakeguard.test

# Common debug file
x.json

# Coverage artifacts
coverage/
*.out
*.html
coverage.svg
*_coverage.txt

# goreleaser
dist/
.goreleaser.lock
.goreleaser.yml
